.welcome-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-image: linear-gradient(210deg, #ffffff, #EEF9FF);
  img {
    width: 256px;
    align-self: center;
    margin-bottom: 20px;
  }
}
